<div class="center hero-unit">
  <h1>Welcome to</h1>
   <h3><font face="Comic sans ms" color= "Blue">Dynamic Tracking, Scheduling and Management System For Private Buses</font></h3>
   <h2>
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
<p align= "center">
<%= link_to image_tag("rails.png", alt: "Rails",), 'http://rubyonrails.org/' %></p>
<br>
<marquee>
<%= image_tag "bus.jpg", :size=> "160x100" %></marquee>